// Colors

$white: #fff;

$primary: #7468FD;
$success: #0EB100;
$danger: #FF2F2F;
$info: #2FF3FF;

$theme-colors: (
  "primary": $primary,
  "success": $success,
  "danger": $danger,
  "info": $info,
);