.title {
  font-size: 48px;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 27px;
}

.text {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
  margin-top: 0;
  margin-bottom: 48px;
}