@import 'variables.scss';
@import 'fonts.scss';

@import 'normalize-css/normalize';
@import 'bootstrap/dist/css/bootstrap-grid.min';

html, body {
  margin: 0;
  padding: 0;
  background: $dark;
  color: $white;
}

* {
  box-sizing: border-box;
}

.w-100 {
  width: 100% !important;
}

.content {
  margin-left: 104px;
  margin-right: 400px;
}

.p-24 {
  padding: 24px;
}

.h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  margin-top: 0;
}

.h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  margin-top: 0;
}

.m-0 {
  margin: 0 !important;
}

.mb-1 {
  margin-bottom: 4px !important;
}

.mb-3 {
  margin-bottom: 24px;
}

.mr-2 {
  margin-right: 8px;
}

.text-white2 {
  color: $white2 !important;
}

.ml-auto {
  margin-left: auto !important;
}
