//- Header
header.header 
  //- Logo
  a.header__logo MNTN
  //- Nav
  nav.header__nav
    ul
      li
        a(href="#") Equipment
      li
        a(href="#") About us
      li
        a(href="#") Blog
  //- Account
  a.header__acc
    img(src="", alt="")
    span Account