<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>
<body>
  {% include "blocks/header.njk" %}

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolore non voluptatem deleniti in aliquam accusantium nobis nesciunt id eveniet! Nisi corrupti, culpa suscipit hic facilis sunt cupiditate dolore ratione.</p>
</body>
</html>