button {
  cursor: pointer;
}

.btn {
  padding: 16px 40px;

  border: none;
  border-radius: 55px;

  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  display: inline-block;
}

.btn-primary {
  background: #458FF6;
  color: #fff;
}

.btn-primary:hover {
  background: #1a6de2;
}

.btn-primary:active {
  background: #0c4da8;
}

.btn-outline-primary {
  color: #458FF6;
  border: 1px solid #458FF6;
}

.btn-outline-primary:hover {
  background: #458FF6;
  color: #fff;
}

.btn-outline-primary:active {
  background: #0c4da8;
  border-color: #0c4da8;
}

.btn-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
