button {
  cursor: pointer;
}

.btn {
  padding: 16px 40px;

  border: none;
  color: #fff;
  border-radius: 55px;
  background: #458FF6;

  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.btn:hover {
  background: #1a6de2;
}

.btn:active {
  background: #0c4da8;
}